/*
Hit and Blow ver0.0.1
Copyright © naru2001, nkgw-marronnier 2021
GitHub: https://github.com/naru2001
GitHub: https://github.com/nkgw-marronnier

game_style.css
Copyright © nkgw-marronnier 2021
GitHub: https://github.com/nkgw-marronnier
*/

/* ゲーム総合描画領域 */
.game {
  width: 650px;
  position: relative;
  margin:0 auto;
}

/* 背景描画領域 */
canvas#backgroundCanvas {
  position: absolute;
  background-color: rgb(255, 255, 228);
  padding: 0px;
  margin: 20px;
  border-radius: 15px;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  overflow: hidden;
}

/* ゲーム描画領域 */
canvas#gameCanvas {
  /*背景デバッグ用*/
  /*visibility: hidden;*/
  position: absolute;
  padding: 0px;
  margin: 0px;
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 15px;
  border: solid 10px rgb(220, 220, 220);
}

/* ゲーム描画領域 */
canvas#soundselectCanvas {
  /*背景デバッグ用*/
  /*visibility: hidden;*/
  position: absolute;
  padding: 0px;
  margin: 0px;
  border-radius: 15px;
  border: solid 10px rgb(220, 220, 220);
}

/* ゲーム描画領域 */
canvas#gamehitblowCanvas {
  /*背景デバッグ用*/
  /*visibility: hidden;*/
  position: absolute;
  padding: 0px;
  margin: 0px;
  border-radius: 15px;
  border: solid 10px rgb(220, 220, 220);
}

/* ゲーム描画領域 */
canvas#gametimeCanvas {
  /*背景デバッグ用*/
  /*visibility: hidden;*/
  position: absolute;
  padding: 0px;
  margin: 0px;
  border-radius: 15px;
  border: solid 10px rgb(220, 220, 220);
}

/* ゲーム描画領域 */
canvas#gamenumberCanvas {
  /*背景デバッグ用*/
  /*visibility: hidden;*/
  position: absolute;
  padding: 0px;
  margin: 0px;
  border-radius: 15px;
  border: solid 10px rgb(220, 220, 220);
}

canvas#gameruleCanvas {
  /*背景デバッグ用*/
  /*visibility: hidden;*/
  position: absolute;
  padding: 0px;
  margin: 0px;
  border-radius: 15px;
  border: solid 10px rgb(220, 220, 220);
}